<h1 class="text-center">
  GPA Converter
</h1>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <button class="btn btn-primary pull-right" ng-click="app.calculateGPA()">
          Calculate York GPA
        </button>
        <h1>{{ app.GPA }}</h1>
      </div>
      <table class="table">
          <thead>
            <tr>
              <th>Session</th>
              <th>Course Code</th>
              <th>Course Credit</th>
              <th>Course Title</th>
              <th>Letter Grade</th>
              <th>4.0 Scale</th>
              <th>9.0 Scale</th>
            </tr>
          </thead>
        <tbody>
          <tr ng-repeat="i in app.range(app.rowLength) track by $index">
            <td>
              <input type="session" class="form-control" id="inputSession" aria-describedby="sessionHelp" placeholder="Enter course session">
            </td>
            <td>
              <input type="courseCode" class="form-control" id="inputCourseCode" aria-describedby="courseCodeHelp" placeholder="Enter course code">
            </td>
            <td>
              <input ng-model="app.courseCredit['field'+$index]" type="number" class="form-control" id="inputCourseCredit" aria-describedby="courseCreditHelp" placeholder="Enter course credit">
            </td>
            <td>
              <input type="courseTitle" class="form-control" id="inputCourseTitle" aria-describedby="courseTitleHelp" placeholder="Enter course title">
            </td>
            <td>
              <input type="text"
                     ng-change="app.calcToYorkGrade(app.courseGradeValues['field'+$index], $index)"
                     ng-model="app.courseGradeValues['field'+$index]"
                     class="form-control"
                     placeholder="Enter course grade">
            </td>
            <td>
              <label ng-bind="app.appArr2[$index]" class="form-control"></label>
            </td>
            <td>
              <label ng-bind="app.appArr[$index]" class="form-control"></label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h1>
      Go to <a href="http://myonlineservices.students.yorku.ca/">
      http://myonlineservices.students.yorku.ca/</a> and navigate to your course grades
    </h1>
    <div class="col-md-12 col-md-offset-6">
      <textarea placeholder="Paste your grades here" style="height:300px; width: 500px;"></textarea>
    </div>
  </div>
</main>
<footer>
</footer>