<h1>GPA Converter</h1>
<main>
  <div class="container-fluid">
    <div class="row">
      <button class="btn btn-primary" ng-click="app.calculateGPA()">
        Calculate
      </button>

      <table class="table">
        <thead>
        <tr>
          <th>Session</th>
          <th>Course Code</th>
          <th>Course Credit</th>
          <th>Course Title</th>
          <th>Letter Grade</th>
          <th>4.0 Scale</th>
          <th>9.0 Scale</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in app.range(app.rowLength) track by $index">
          <td>
            <input type="session" class="form-control" id="inputSession" aria-describedby="sessionHelp" placeholder="Optional - Enter course session">
          </td>
          <td>
            <input type="courseCode" class="form-control" id="inputCourseCode" aria-describedby="courseCodeHelp" placeholder="Optional - Enter course code">
          </td>
          <td>
            <input ng-model="app.courseCredit['field'+$index]" type="courseCredit" class="form-control" id="inputCourseCredit" aria-describedby="courseCreditHelp" placeholder="Enter course credit">
          </td>
          <td>
            <input type="courseTitle" class="form-control" id="inputCourseTitle" aria-describedby="courseTitleHelp" placeholder="Optional - Enter course title">
          </td>
          <td>
            <input ng-change="app.calcToYorkGrade(app.courseGradeValues['field'+$index], $index)" ng-model="app.courseGradeValues['field'+$index]" class="form-control" placeholder="Enter course grade"></td>
          <td>
            <label type="courseGrade" class="form-control"></label>
          </td>
          <td>
            <label ng-bind="app.appArr[$index]" type="courseGrade" class="form-control"></label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h1>{{ app.GPA }}</h1>

  <div class="row">
    <h1>Go to <a href="http://myonlineservices.students.yorku.ca/">http://myonlineservices.students.yorku.ca/</a> and navigate to your course grades</h1>
    <div class="text-center">
      <textarea style="height:300px; width: 500px; text-align: center"></textarea>
    </div>
  </div>
</main>
<footer>
</footer>